name: CI

on:
  push:
  
  pull_request:


jobs:

  build-extras:
    name: Build radare2 extras and r2pipe
    runs-on: ubuntu-22.04
    env:
      BUILDS: 'asahi blackfin blessr2 keystone-lib keystone r2svd unicorn-lib vc4 x86iced'
      TESTS: 'keystone vc4'
      R2PIPE_TESTS: 'r2pipe-js r2pipe-py'
    steps:
    - uses: actions/checkout@v3
      with:
        repository: radareorg/radare2
        ref: master
        path: ./radare2
    - name: Install dependencies
      run: |
        sudo apt-get --assume-yes update
        sudo apt-get --assume-yes install libjansson-dev libboost-dev libcurl4-openssl-dev python3-wheel python3-setuptools && sudo pip3 install meson ninja
    - name: Install radare2
      run: |
        export PATH=$PATH:/usr/local/bin
        meson --prefix=/usr --buildtype=release build && ninja -C build && sudo ninja -C build install
      working-directory: radare2
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        path: ./radare2-extras
    - name: Init r2pm
      run: r2pm -U
    - name: Compile and install plugins
      run: |
        set -e
        export R2PM_GITDIR=`pwd`
        export R2PM_GITSKIP=1
        for p in $BUILDS ; do
          echo $p
          r2pm -i $p
        done
        set +e
    - name: Test plugins
      working-directory: radare2/test
      run: |
        set -e
        export R2PM_GITDIR=`pwd`
        export R2PM_GITSKIP=1
        for p in $TESTS ; do
          echo $p
          make $p
        done
        set +e
    - name: Compile and install r2pipe
      run: |
        set -e
        export R2PM_GITDIR=`pwd`
        export R2PM_GITSKIP=1
        for p in $R2PIPE_TESTS ; do
          echo $p
          r2pm -i $p
        done
        set +e

